{{!-- // Date: 7/13/25
// Adapted From:
// https://getbootstrap.com/docs/5.3/components/modal/#how-it-works
// How to create a modal  --}}
{{!-- // Date: 7/19/25
// Adapted From:
// https://www.youtube.com/watch?v=9VHTDhwo9u0
// How to use express handlebar to render pages --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">>
    
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

</head>

            <h2>Contacts</h2>
            </section>

            <article>

              <!-- Button trigger modal -->
              <div class="float-end">
            <a href="/contacts/createOrEdit" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#contactModal">
            Add Contact
            </a>

                <table class="table">
                    <thead>
                        <tr>                       
                            <th scope="col">Job Application</th>
                            <th scope="col">Name</th>
                            <th scope="col">Company</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Email Address</th>
                        </tr>
                    </thead>
                    <tbody >
                    {{#each contacts}}
                    
                    <tr>
                        <td scope="row">{{this.jobAppNum}}</td>
                        <td scope="row">{{this.name}}</td>
                        <td scope="row">{{this.company}}</td>
                        <td scope="row">{{this.emailAdd}}</td>
                        <td scope="row">{{this.phoneNumber}}</td>
                        <td>
                            <form action="/contacts/delete/{{this._id}}" method="post">
                                <a href="/contacts/createOrEdit/{{this._id}}" class="btn btn-sm btn-link">Edit</a>
                                <button type="submit" class="btn btn-sm btn-outline-danger">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>

                </table> 

            </article>
    </main>

     