<!-- Citation
Date: 7/13/25
Adapted From:
https://getbootstrap.com/docs/5.3/components/modal/#how-it-works
How to create a modal 

Date: 7/19/25
Adapted From:
https://www.youtube.com/watch?v=9VHTDhwo9u0
How to use express handlebar to render pages !-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</head>
<body>
<header>
        <h1>Job Tracker</h1>
        <nav>
            <a href="home.html">Home</a>
            <a href="index.html">Login</a>
            <a href="applications.html">Applications</a>
            <a href="profile.html">Profile</a>
            <a href="contacts.html">Contacts</a>
            <a href="skills.html">Skills</a>
        </nav>
    </header>
<main>
  <section>
            <h2>Contacts</h2>
            </section>

            <article>

              <!-- Button trigger modal -->
              <div class="float-end">
            <a href="/contacts/createOrEdit" class="btn btn-primary">Add Contact </a>
            <!-- Modal -->

<div id="modalArea"></div>
<form action="/contacts/createOrEdit" method ="post">
<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="contactModalLabel">Enter Contact Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="pb-3">
            <label for="jobAppNumber" class="col-form-label">Job app number:</label>
            <input type="number" class="form-control" id="job-app-num" placeholder="1" min="1">
          </div>
          <div class="pb-3">
            <label for="contact-name" class="col-form-label">Contact name:</label>
            <input type="text" class="form-control" id="contact-name" placeholder="Mike Shinoda">
          </div>
          <div class="pb-3">
            <label for="company-name" class="col-form-label">Company:</label>
            <input type="text" class="form-control" id="company-name" placeholder="Microsoft">
          </div>
          <div class="pb-3">
            <label for="message-text" class="col-form-label">Email Address:</label>
            <input type="text" class="form-control" id="email-address" placeholder="name@company.com">
          </div>
          <div class="pb-3">
            <label for="phone-number" class="col-form-label">Phone:</label>
            <input type="text" class="form-control" id="phone-number" placeholder="123-456-7890">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" form="contactModal">Submit</button>
      </div>
      
    </div>
  </div>
</div>

                <table class="table">
                    <thead>
                        <tr>                       
                            <th scope="col">Job Application</th>
                            <th scope="col">Name</th>
                            <th scope="col">Company</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Email Address</th>
                        </tr>
                    </thead>
                    <tbody >
                    {{#each contacts}}
                    
                    <tr>
                        <td scope="row">{{this.jobAppNum}}</td>
                        <td scope="row">{{this.name}}</td>
                        <td scope="row">{{this.company}}</td>
                        <td scope="row">{{this.phoneNumber}}</td>
                        <td scope="row">{{this.emailAddress}}</td>
            
                        <td>
                            <form action="/contacts/delete/{{this._id}}" method="post">
                                <a href="/contacts/createOrEdit/{{this._id}}" class="btn btn-sm btn-link">Edit</a>
                                <button type="submit" class="btn btn-sm btn-outline-danger">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>

                </table> 

            </article>
          
    </main>
    </body>
    </html>