<!--Date: 7/19/25
Citation:
Adapted From
https://www.geeksforgeeks.org/web-tech/express-js-res-render-function/
Learned about render and using locals for home  

7/19/2025
Adapted from OSU node starter app, handlebars an express setup
https://github.com/osu-cs340-ecampus/nodejs-starter-app
!-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Tracker</title>
    <link rel='stylesheet' type='text/css' media='screen' href='/skill.css'>
    <script></script>
</head>
<body>
    <header>
        <h1>Job Tracker</h1>
        <nav>
            <a href="/">Logout</a>
            <a href="/applications">Applications</a>
            <a href="/contacts">Contacts</a>
            <a href="/skills">Skills</a>
            <a href="/stats">Stats</a>
        </nav>
    </header>
    
    <main>
        <section>
            <h2>Applications</h2>
            </section>
            <article>
<table id="applications-table">
    <thead>
        <tr>
            <th>Company</th>
            <th>Type</th>
            <th>Date Submitted</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each applications}}
        <tr>
            <td>{{this.company}}</td>
            <td>{{this.type}}</td>
            <td>{{this.date}}</td>
            <td>{{this.status}}</td>
            <td><a href="/applications/edit/{{this._id}}">
            <button>Edit</button></a></td>
            <td><form action="/applications/delete/{{this._id}}" method="post">
            <button type="submit">Delete</button>
            </form></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Add Application</h2>
<p>Add a new application</p>
<form id="add-application-form" method="post" action="/applications/add">
    <label for="input-company">Company: </label>
    <input type="text" name="company" id="input-company">

    <label for="input-type">Type: </label>
    <select name="type" id="input-type">
        <option value="Job">Job</option>
        <option value="Internship">Internship</option>
    </select>

    <label for="input-date">Date Submitted: </label>
    <input type="text" name="date" id="input-date">

    <label for="input-status">Status: </label>
    <input type="text" name="status" id="input-status">
      <fieldset>
    <legend>Select skills</legend>
    {{#each skills}}
      <label class="skills">
        <input type="checkbox" name="skills" value="{{_id}}">
        {{type}}
      </label>
    {{/each}}
  </fieldset>

    <input type="submit">
</form>


    <footer>
        <p>&copy; 2025 Stephan Gonzales, Richard Le, Kevin Tang.</p>
    </footer>


</body>
</html>